/* font import form google font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* shared Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

/* navigation style start */
.option,
.shopping-cart-icon {
  display: none;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 87px;
}

.nav-title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
}
nav > ul > li {
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}

/* for mobile screen start */
@media screen and (max-width: 576px) {
  .nav-container {
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 35px;
  }
  .nav-title {
    text-align: center;
    font-size: 1rem;
    position: relative;
    left: 99px;
  }
  .option {
    display: block;
  }
  .list-items > li > a {
    display: none;
  }
  .shopping-cart-icon {
    display: block;
    color: #3a3a3a;
  }
}

/* for mobile screen end */

/* for tablet screen start */

/* for tablet screen end */
